<%- include('partials/header') %>
<link rel="stylesheet" href="/css/detail.css">

    <main>
        <div class="container-detail">
        <div class="container-img">
            <img src="/img/pepinillo.png" alt="">
            <h1 class="name"></h1>
            <p>Género</p>
            <p>Status</p>
        </div>

        <div class="container-data">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus est enim rem saepe voluptate voluptatibus odio praesentium delectus magni necessitatibus quia ut, in aliquam ipsum molestiae reiciendis ad. Aliquid, vel.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro assumenda unde illo nobis perferendis iure sint reiciendis ea maiores dolorum eaque vero officia, voluptatum omnis non expedita aliquam vel fugiat!
        </div>
    </div>
    </main>

        <script src="/js/detail.js"></script>
    <body>
        <html>